* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background-color: whitesmoke;
    padding: 0;
}

p {
    font-size: 18px;
    margin: 6px;
}

h1 {
    text-align: center;
    margin: 20px;
    text-shadow: 1px 2px 3px black;
}

h2 {
    text-align: center;
    margin: 20px;
}

.navbar {
    box-shadow: 1px 3px 8px black;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
}

a.navbar-brand {
    font-weight: bold;
    text-shadow: 2px 3px 4px royalblue;
    font-size: 20px;
    font-style: italic;
}

#search-button:hover .search-img {
    transition: transform 0.5s ease, filter 0.5s ease;
    transition-delay: 0.2s;
    transform: scale(1.2);
    filter: brightness(1.2);
}

.collapse {
    margin: 10px;
}

.nav-link {
    font-weight: bold;
    color:whitesmoke;
    font-size: 20px;
}

/* Vida Amorosa: Cor vermelha, simboliza amor, paixão e romance. */
.vida-amorosa {
    color: red;
    text-shadow: 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Amizade: Cor azul, representa confiança, lealdade e tranquilidade. */
.amizade {
    color: rgb(27, 125, 238);
    text-shadow: 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Profissional: Cor cinza, transmite seriedade, estabilidade e profissionalismo. */
.profissional {
    color: rgb(196, 196, 196);
    text-shadow: 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Saúde: Cor verde, simboliza frescor, vitalidade e equilíbrio. */
.saude {
    color: rgb(20, 175, 20);
    text-shadow: 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Família: Cor amarela, representa calor, alegria e otimismo. */
.familia {
    color: yellow;
    text-shadow: 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover,
.nav-link:focus{
    color: whitesmoke;
}

@media screen and (max-width: 1100px){
    .navbar-brand {
        display: none;
    }

    .navbar {
        display: none;
    }
}