* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
}

.home {
    max-width: 100%;
    height: 100vh;
}

.container {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center center;
}

.home-icon {
    margin-right: 4px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px rgba(31, 31, 31, 0.966);
}

.col-2 a img {
    border-radius: 5px 10px 15px 20px;
    box-shadow: 4px 4px 4px 4px black;
    margin: 15px;
}