* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background-color: whitesmoke;
    padding: 0;
}

h2 {
    text-shadow: 2px 2px 2px whitesmoke;
    font-weight: bold;
    text-align: center;
    padding: 18px;
}

.navbar {
    box-shadow: 1px 3px 8px black;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
}

a.navbar-brand {
    font-weight: bold;
    text-shadow: 2px 3px 4px royalblue;
    font-size: 20px;
    font-style: italic;
}

.collapse {
    margin: 10px;
}

.nav-link {
    font-weight: bold;
    color:whitesmoke;
    font-size: 20px;
}

p {
    font-size: 18x;
}

.container {
    padding: 20px;
}

.elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#search-button:hover .search-img {
    transition: transform 0.5s ease, filter 0.5s ease;
    transition-delay: 0.2s;
    transform: scale(1.2);
    filter: brightness(1.2);
}

.agua {
    
    box-shadow: 2px 4px 8px 8px rgb(17, 126, 250);
    padding: 10px;
    border-radius: 25%;
    filter: opacity(75%);
}

.fogo {
    
    box-shadow: 2px 4px 8px 8px rgb(231, 0, 0);
    padding: 10px;
    border-radius: 25%;
    filter: opacity(75%);
}

.terra {
    
    box-shadow: 2px 4px 8px 8px rgb(97, 52, 10);
    padding: 10px;
    border-radius: 25%;
    filter: opacity(75%);
}

.ar {
    
    box-shadow: 3px 5px 10px 8px rgb(143, 143, 143);
    padding: 10px;
    border-radius: 25%;
    filter: opacity(75%);
}

.agua h3 {
    color: rgb(0, 102, 255);
    text-align: center;
    text-shadow: 2px 3px 4px whitesmoke;
}

.fogo h3 {
    color: rgba(184, 13, 13, 0.979);
    text-align: center;
    text-shadow: 2px 3px 4px whitesmoke;
}

.terra h3 {
    color: rgb(117, 63, 18);
    text-align: center;
    text-shadow: 2px 3px 4px whitesmoke;
}

.ar h3 {
    color: rgb(155, 155, 155);
    text-align: center;
    text-shadow: 2px 3px 4px whitesmoke;
}

/* Estilo para o cabeçalho do modal */
.modal-header {
    display: flex;
    background-color: rgb(53, 53, 53);
    color: rgb(221, 9, 9);
    justify-content: space-between;
    align-items: end;
}

.modal-header .close {
    color:whitesmoke;
}

.modal-header .close:hover {
    background-color: rgb(238, 59, 59);
    opacity: 75%;
}

h4 {
    font-family: 'Times New Roman', Times;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

  /* Estilo para o rodapé do modal */
  .modal-footer {
    background-color: whitesmoke;
  }

  /* Estilo para o botão OK no rodapé */
  .modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

.nav-link:hover,
.nav-link:focus{
    color: whitesmoke;
}

@media screen and (max-width: 1140px){
    .elements {
        display: none;
    }

    .nav-link {
        display: none;
    }
}